<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Dev Skills</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <a class="space" href="../skills">Go back</a>
  <a class="space" href="../">Go back further</a>
  <h1><%= skill.skill %></h1>
  <h3><%= skill.learned ? `I have already learned it!` : `I have not yet learned it...` %></h3>
  <a class="space" href="/skills/<%= skill.id %>/edit">Edit thine skill...</a>
</body>
</html>