body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  text-align: center;
}

h1 {
  font-size: 50px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #00a534;
}

li {
  font-size: 25px;
  display: inline-block;
  margin: 20px;
}

ul {
  list-style-type: none;
}

.space {
  margin: 0 20px;
}

.checkbox {
  margin-top: 20px;
}

.destroy {
  height: 20px;
  border: none;
  background-color: white;
  color: rgba(196, 67, 67, 0.482);
  font-size: 11px;
}

.destroy:hover {
  color: rgb(193, 160, 29)
}

#evolve {
  border: none;
  background: none;
  color: green;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    color: red;
  }
  17% {
    color: orange;
  }
  34% {
    color: green;
  }
  51% {
    color: blue;
  }
  68% {
    color: green;
  }
  82% {
    color: orange;
  }
  100% {
    color: red;
  }
}